# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.DS_Store

# ignore datasets
data-labeller/public/rico-screenshots/
data-labeller/public/rico-labels/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

prototypes/build
prototypes/.svelte-kit
prototypes/.vercel
prototypes/package

firebase-debug.log
